[alias]
	s = status
	d = diff
	c = commit
	ca = commit -a
	l = log
	b = branch
	co = checkout
	sl = shortlog
	ds = diff --stat
	a = add
	p = pull
[user]
	name = Gon Solo
	email = gonsolo@gmail.com
[push]
	default = simple
[credential]
	#helper = cache --timeout=3600
	helper = wincred
[gui]
	recentrepo = C:/Users/gonso/src/mesa

